h1 {
  text-align: center;
  font-weight: 4000;
  text-decoration: blue underline wavy;
  letter-spacing: 20px;
  font-size: 40px;
  font-family: monospace, Verdana;
}
p {
  text-align: left;
}
a {
  text-decoration: none;
}

p {
  line-height: 2;
}
